@import url(https://fonts.googleapis.com/css2?family=Noto+Sans:wght@600&family=Roboto+Condensed:wght@300;400&display=swap);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

::selection {
  color: #191919;
  background-color: #0059ff;
}

h1,
h2,
h3,
h4,
h5,
a,
button {
  font-family: "Noto Sans", sans-serif;
}

/* Swiper Library */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
