.banner {
  width: 100%;
  height: 40rem;
  position: relative;
  background: #e7e7e7;
  background-size: cover;
  background-position: center;
}

.banner-upload-btn {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.banner-upload-btn .upload-icon {
  width: 2rem;
}

.blog {
  width: 70vh;
  min-width: 60rem;
  /* height: 10rem; */
  display: block;
  margin: auto;
  padding: 5rem 0;
}

textarea::-webkit-scrollbar {
  width: 1rem;
}

textarea::-webkit-scrollbar-thumb {
  /* background: rgba(0, 0, 0, 0.1); */
  border-radius: 1rem;
}

.title,
.article {
  width: 100%;
  min-height: 10rem;
  height: auto;
  outline: none;
  font-size: 4rem;
  font-weight: 600;
  resize: none;
  border: none;
  padding: 1rem;
  border-radius: 1rem;
}

.title::placeholder,
.article::placeholder {
  color: #2d2d2d;
}

.article {
  font-size: 1rem;
  height: 50rem;
  margin-top: 1rem;
  line-height: 3rem;
  font-weight: 500;
  padding-bottom: 10rem;
  white-space: pre-wrap;
}

.blog-options {
  position: fixed;
  bottom: 1rem;
  left: 0;
  width: 100%;
  background: transparent;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 1rem 2rem;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: "Noto Sans";
}

.btn.blueBtn {
  background-color: #1197cc;
  box-shadow: #094c66 4px 4px 0;
  border-radius: 8px;
  color: #094c66;
  transition: transform 200ms, box-shadow 200ms;
}
.btn.blueBtn:active {
  transform: translateY(4px) translateX(4px);
  box-shadow: #094d67 0 0 0;
}

.btn.grey {
  background: #a5a5a5;
  color: #383838;
  margin-left: 2rem;

  background-color: #a5a5a5;
  box-shadow: #383838 4px 4px 0;
  border-radius: 8px;
  transition: transform 200ms, box-shadow 200ms;
}
.btn.grey:active {
  transform: translateY(4px) translateX(4px);
  box-shadow: #383838 0 0 0;
}
