/* @import url(https://fonts.googleapis.com/css2?family=Noto+Sans:wght@600&family=Roboto+Condensed:wght@300;400&display=swap); */

@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/RobotoCondensed-Regular.eot");
  src: local("../fonts/Roboto Condensed"),
    local("../fonts/RobotoCondensed-Regular"),
    url("../fonts/RobotoCondensed-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: normal;
  src: local("../fonts/Noto Sans Bold"),
    url("../fonts/NotoSans-Bold.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed";
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
  color: #7018aa;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  box-shadow: inset 0 0 5px grey;
  /* border-radius: 10px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6366f1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6264d8;
  border-radius: 6px;
}

h1,
h2,
h3,
h4,
h5,
a,
span,
button {
  font-family: "Noto Sans", sans-serif;
}
